@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sofadi+One&display=swap');
.fonting{
    font-family: 'Amatic SC', cursive;
}
.links{
    color: black !important;
    transition: all 0.3s ease-in-out !important;
}
.links:hover{
    color: blue !important;
    text-decoration: underline !important;
}
svg path{
    fill: transparent;
    stroke: black;
    stroke-width: 0.5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fills 4s ease-in-out 1 forwards;
}
@keyframes fills{
    50%{
        stroke-dashoffset: 1000;
    }
    100%{
        fill: black;
        stroke-dashoffset: 0;
    }
}