@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sofadi+One&display=swap');
.fonting{
    font-family: 'Amatic SC', cursive;
}
.links{
    color: black !important;
    transition: all 0.3s ease-in-out !important;
}
.links:hover{
    color: blue !important;
    text-decoration: underline !important;
}