.btnhov{
    color: white;
    background: green;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btnhov:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

.viewmore{
    color: rgb(255, 255, 255);
    background: rgb(34, 1, 71);
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.viewmore:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}